modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33355
externalPort = 4200

[[ports]]
localPort = 37403
externalPort = 3003

[[ports]]
localPort = 38515
externalPort = 3001

[[ports]]
localPort = 39415
externalPort = 5000

[[ports]]
localPort = 43725
externalPort = 3000

[[ports]]
localPort = 43965
externalPort = 3002

[[ports]]
localPort = 46161
externalPort = 5173

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GROQ_API_KEY = "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"
NEXT_PUBLIC_SUPABASE_URL = "https://wmgodyektmyjqsovpmfi.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtZ29keWVrdG15anFzb3ZwbWZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2ODM5OTgsImV4cCI6MjA4MDI1OTk5OH0.S1mG1dvtsFT95gT24a7tw9--1XCk_CiAlgfltQer6ug"
